CompileFlags:
  Add: [
    "-std=c++17",
    "-Wall",
    "-O2",
    "-DDEBUG",
    "-stdlib=libstdc++",
    "-I/opt/homebrew/opt/gcc/include/c++/14",
    "-I/opt/homebrew/opt/gcc/include/c++/14/aarch64-apple-darwin23",
  ] 
  Compiler: /usr/local/bin/g++-14
